/* FONT-FAMILY  */

@font-face {
  font-family: ITC-Stone-Serif-Small-Caps-Bold;
  src: url('./components/fonts/ITC-Stone-Serif-Small-Caps-Bold.ttf');
}

@font-face {
  font-family: ITC-Stone-Serif-It-Italic;
  src: url('./components/fonts/itc-stone-serif-lt-italic.ttf');
}

@font-face {
  font-family: Matrix-Regular-Small-Caps;
  src: url('./components/fonts/MatrixRegularSmallCaps.ttf');
}

@font-face {
  font-family: Matrix-Book;
  src: url('./components/fonts/Matrix-Book.ttf');
}

.font-itc-stone-serif-small-caps-bold {
  font-family: ITC-Stone-Serif-Small-Caps-Bold, sans-serif;
}

.font-itc-stone-serif-it-italic {
  font-family: ITC-Stone-Serif-It-Italic, sans-serif;
}

.font-matrix-regular-small-caps {
  font-family: Matrix-Regular-Small-Caps, sans-serif;
}

.font-matrix-book {
  font-family: Matrix-Book, sans-serif;
}

/* FONT SIZE */
.font-12px {
  font-size: 12px !important;
}

.font-15px {
  font-size: 15px !important;
}

.font-18px {
  font-size: 18px !important;
}

.font-20px {
  font-size: 20px !important;
}

.font-22px {
  font-size: 22px !important;
}

.font-25px {
  font-size: 25px !important;
}

.font-30px {
  font-size: 30px !important;
}

.font-35px {
  font-size: 35px !important;
}

.font-40px {
  font-size: 40px !important;
}

.font-45px {
  font-size: 45px !important;
}

.font-50px {
  font-size: 50px !important;
}

.font-55px {
  font-size: 55px !important;
}

.font-60px {
  font-size: 60px !important;
}

.font-65px {
  font-size: 65px !important;
}

.font-70px {
  font-size: 70px !important;
}

.font-75px {
  font-size: 75px !important;
}

.font-80px {
  font-size: 80px !important;
}

.font-85px {
  font-size: 85px !important;
}

.font-90px {
  font-size: 90px !important;
}

.font-95px {
  font-size: 95px !important;
}

@media screen and (min-width: 576px) {
  .font-sm-12px {
    font-size: 12px !important;
  }

  .font-sm-15px {
    font-size: 15px !important;
  }

  .font-sm-18px {
    font-size: 18px !important;
  }

  .font-sm-20px {
    font-size: 20px !important;
  }

  .font-sm-22px {
    font-size: 22px !important;
  }

  .font-sm-25px {
    font-size: 25px !important;
  }

  .font-sm-30px {
    font-size: 30px !important;
  }

  .font-sm-35px {
    font-size: 35px !important;
  }

  .font-sm-40px {
    font-size: 40px !important;
  }

  .font-sm-45px {
    font-size: 45px !important;
  }

  .font-sm-50px {
    font-size: 50px !important;
  }

  .font-sm-55px {
    font-size: 55px !important;
  }

  .font-sm-60px {
    font-size: 60px !important;
  }

  .font-sm-65px {
    font-size: 65px !important;
  }

  .font-sm-70px {
    font-size: 70px !important;
  }

  .font-sm-75px {
    font-size: 75px !important;
  }

  .font-sm-80px {
    font-size: 80px !important;
  }

  .font-sm-85px {
    font-size: 85px !important;
  }

  .font-sm-90px {
    font-size: 90px !important;
  }

  .font-sm-95px {
    font-size: 95px !important;
  }
}

@media screen and (min-width: 768px) {
  .font-md-12px {
    font-size: 12px !important;
  }

  .font-md-15px {
    font-size: 15px !important;
  }

  .font-md-18px {
    font-size: 18px !important;
  }

  .font-md-20px {
    font-size: 20px !important;
  }

  .font-md-22px {
    font-size: 22px !important;
  }

  .font-md-25px {
    font-size: 25px !important;
  }

  .font-md-30px {
    font-size: 30px !important;
  }

  .font-md-35px {
    font-size: 35px !important;
  }

  .font-md-40px {
    font-size: 40px !important;
  }

  .font-md-45px {
    font-size: 45px !important;
  }

  .font-md-50px {
    font-size: 50px !important;
  }

  .font-md-55px {
    font-size: 55px !important;
  }

  .font-md-60px {
    font-size: 60px !important;
  }

  .font-md-65px {
    font-size: 65px !important;
  }

  .font-md-70px {
    font-size: 70px !important;
  }

  .font-md-75px {
    font-size: 75px !important;
  }

  .font-md-80px {
    font-size: 80px !important;
  }

  .font-md-85px {
    font-size: 85px !important;
  }

  .font-md-90px {
    font-size: 90px !important;
  }

  .font-md-95px {
    font-size: 95px !important;
  }
}

@media screen and (min-width: 992px) {
  .font-lg-12px {
    font-size: 12px !important;
  }

  .font-lg-15px {
    font-size: 15px !important;
  }

  .font-lg-18px {
    font-size: 18px !important;
  }

  .font-lg-20px {
    font-size: 20px !important;
  }

  .font-lg-22px {
    font-size: 22px !important;
  }

  .font-lg-25px {
    font-size: 25px !important;
  }

  .font-lg-30px {
    font-size: 30px !important;
  }

  .font-lg-35px {
    font-size: 35px !important;
  }

  .font-lg-40px {
    font-size: 40px !important;
  }

  .font-lg-45px {
    font-size: 45px !important;
  }

  .font-lg-50px {
    font-size: 50px !important;
  }

  .font-lg-55px {
    font-size: 55px !important;
  }

  .font-lg-60px {
    font-size: 60px !important;
  }

  .font-lg-65px {
    font-size: 65px !important;
  }

  .font-lg-70px {
    font-size: 70px !important;
  }

  .font-lg-75px {
    font-size: 75px !important;
  }

  .font-lg-80px {
    font-size: 80px !important;
  }

  .font-lg-85px {
    font-size: 85px !important;
  }

  .font-lg-90px {
    font-size: 90px !important;
  }

  .font-lg-95px {
    font-size: 95px !important;
  }
}

@media screen and (min-width: 1200px) {
  .font-xl-12px {
    font-size: 12px !important;
  }

  .font-xl-15px {
    font-size: 15px !important;
  }

  .font-xl-18px {
    font-size: 18px !important;
  }

  .font-xl-20px {
    font-size: 20px !important;
  }

  .font-xl-22px {
    font-size: 22px !important;
  }

  .font-xl-25px {
    font-size: 25px !important;
  }

  .font-xl-30px {
    font-size: 30px !important;
  }

  .font-xl-35px {
    font-size: 35px !important;
  }

  .font-xl-40px {
    font-size: 40px !important;
  }

  .font-xl-45px {
    font-size: 45px !important;
  }

  .font-xl-50px {
    font-size: 50px !important;
  }

  .font-xl-55px {
    font-size: 55px !important;
  }

  .font-xl-60px {
    font-size: 60px !important;
  }

  .font-xl-65px {
    font-size: 65px !important;
  }

  .font-xl-70px {
    font-size: 70px !important;
  }

  .font-xl-75px {
    font-size: 75px !important;
  }

  .font-xl-80px {
    font-size: 80px !important;
  }

  .font-xl-85px {
    font-size: 85px !important;
  }

  .font-xl-90px {
    font-size: 90px !important;
  }

  .font-xl-95px {
    font-size: 95px !important;
  }
}

@media screen and (min-width: 1400px) {
  .font-xxl-12px {
    font-size: 12px !important;
  }

  .font-xxl-15px {
    font-size: 15px !important;
  }

  .font-xxl-18px {
    font-size: 18px !important;
  }

  .font-xxl-20px {
    font-size: 20px !important;
  }

  .font-xxl-22px {
    font-size: 22px !important;
  }

  .font-xxl-25px {
    font-size: 25px !important;
  }

  .font-xxl-30px {
    font-size: 30px !important;
  }

  .font-xxl-35px {
    font-size: 35px !important;
  }

  .font-xxl-40px {
    font-size: 40px !important;
  }

  .font-xxl-45px {
    font-size: 45px !important;
  }

  .font-xxl-50px {
    font-size: 50px !important;
  }

  .font-xxl-55px {
    font-size: 55px !important;
  }

  .font-xxl-60px {
    font-size: 60px !important;
  }

  .font-xxl-65px {
    font-size: 65px !important;
  }

  .font-xxl-70px {
    font-size: 70px !important;
  }

  .font-xxl-75px {
    font-size: 75px !important;
  }

  .font-xxl-80px {
    font-size: 80px !important;
  }

  .font-xxl-85px {
    font-size: 85px !important;
  }

  .font-xxl-90px {
    font-size: 90px !important;
  }

  .font-xxl-95px {
    font-size: 95px !important;
  }
}
